<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- <div class="row" style="padding-bottom: 10px;">
            <div class="col-lg-12">
                <a href="/addenquiry" class="btn btn-success btn-lg"><i class="fa fa-plus fa-fw"></i>Add New Enquiry</a>
                </div>
        </div> -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">


                    <h4>
                        New Enquiry Entry</h4>




                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">

                    <form action="http://localhost:4000/addenquiry" method="post">
                        <input type="hidden" name="job_ref" value="">
                        <div class="panel-info">
                            <div class="panel-heading">
                                Project Details
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 form-group">
                                        <label for="project">Project Name</label>
                                        <input name="project" value="" class="form-control">
                                    </div>
                                    <div class="col-xs-4 col-sm-4 form-group">
                                        <label for="location">Project Location</label>
                                        <input name="location" value="" class="form-control">
                                    </div>
                                    <div class="col-xs-4 col-sm-4 form-group">
                                        <label for="project_type">Project Type</label>
                                        <select name="project_type" value="" class="form-control">
                                            <option>New Building</option>
                                            <option>Retro Fit (Other AHU)</option>
                                            <option>Retro Fit (Luftek AHU)</option>
                                            <option>Service</option>
                                            <option>Spares Supply</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 form-group">
                                        <label for="consultant">Project Consultant</label>
                                        <input name="consultant" value="" class="form-control">
                                    </div>
                                    <div class="col-xs-4 col-sm-4 form-group">
                                        <label for="contractor">Project Contractor</label>
                                        <input name="contractor" value="" class="form-control">
                                    </div>
                                    <div class="col-xs-4 col-sm-4 form-group">
                                        <label for="client">Project Client</label>
                                        <input name="client" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-info">
                            <div class="panel-heading">Customer Details</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 form-group">
                                        <label for="customer_type">Customer Type</label>
                                        <select name="customer_type" value="" class="form-control">
                                            <option>Contractor</option>
                                            <option>Consultant</option>
                                            <option>Client</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 form-group">
                                        <label for="customer">Customer Name</label>
                                        <input name="customer" value="" class="form-control">
                                    </div>
                                    <div class="col-xs-3 col-sm-3 form-group">
                                        <label for="contact_per">Contact Person</label>
                                        <input name="contact_per" value="" class="form-control">
                                    </div>
                                    <div class="col-xs-3 col-sm-3 form-group">
                                        <label for="contact_num">Contact Number</label>
                                        <input name="contact_num" value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-info">
                            <div class="panel-heading">Quote Details</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 form-group">
                                        <label for="product">Products</label>
                                        <select name="product" value="" class="form-control">
                                            <option>Horizontal AHU Chilled Water</option>
                                            <option>Horizontal AHU Direct Expansion</option>
                                            <option>Vertical AHU Chilled Water</option>
                                            <option>Vertical AHU Direct Expansion</option>
                                            <option>Ceiling Suspended AHU Chilled Water</option>
                                            <option>Ceiling Suspended AHU Direct Expansion</option>
                                            <option>Heat Recovery Unit with coil</option>
                                            <option>Heat Recovery Unit without coil</option>
                                            <option>Double-Deck Horizontal AHU Chilled Water</option>
                                            <option>Double-Deck Horizontal AHU Direct Expansion</option>
                                            <option>Air Washer</option>
                                            <option>Wet Scrubber</option>
                                            <option>Dry Scrubber with Electrostatic Precipitator</option>
                                            <option>Ventilation</option>
                                            <option>Spare Coil Dhilled Water</option>
                                            <option>Spare Coil Direct Expansion</option>
                                            <option>Spare Filter</option>
                                            <option>Spare Motor</option>
                                            <option>Spare Fan</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1 col-sm-1 form-group">
                                        <label for="qty">Total Quantity</label>
                                        <input name="qty" value="" class="form-control">
                                    </div>
                                    <div class="col-xs-2 col-sm-2 form-group hidden">
                                        <label for="amount">Net Quote Value (INR)</label>
                                        <input name="amount" value="" class="form-control">
                                    </div>
                                    <div class="col-xs-1 col-sm-2 form-group">
                                        <label for="reci_date">Recieved Date</label>
                                        <input type="date" name="reci_date" value="" class="form-control">
                                    </div>
                                    
                                    <div class="col-xs-2 col-sm-2 form-group">
                                        <label for="sales_per">Sales Engineer</label>
                                        <select name="sales_per" class="form-control">
                                            <option>Mohammed Akthar</option>
                                            <option>Mohammed Azeemudeen</option>
                                            <option>Suresh M</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 form-group">
                                        <label for="app_engg">Application Engineer</label>
                                        <select name="app_engg" class="form-control">
                                            <option>Sameem Kuthus</option>
                                            <option>Yuvaraj G S</option>
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>


            <div class="row">
                <div class="col-xs-1 col-sm-1 form-group">
                    <label></label>
                    <input type="submit" name="submit" class="btn btn-outline btn-success btn-block" />
                </div>
                <div class="col-xs-1 col-sm-1 form-group">
                    <label></label>
                    <input type="reset" name="reset" class="btn btn-outline btn-primary btn-block" />
                </div>
                <div class="col-xs-1 col-sm-1 form-group">
                    <label></label>
                    <input name="cancel" value="Close" class="btn btn-outline btn-danger btn-block" />
                </div>
            </div>



            </form>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
</div>