
<html lang="en">
<head>
    <title> <%= siteTitle%> - <%= pageTitle%></title>
<% include ../partials/head %>
    </head>
    <body>
            <div id="wrapper">
        <%include ../partials/navbar %>
            
        
               
    
